<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<article>
    <h1>Count Percent</h1>

    <div id="content">
        <h2>Edit book</h2>
        <div class="form">
            <form th:action="@{/finance}" method="post" th:object="${finance}">

                <input type="text" name="sum" placeholder="sum" th:field="*{sum}" disabled/><br/>
                <div th:if="#{fields.hasErrors('sum')}" th:errors="*{sum}" class="error"></div>

                <input type="text" name="percentage" placeholder="percentage" th:field="*{percentage}"/><br/>
                <div th:if="#{fields.hasErrors('percentage')}" th:errors="*{percentage}" class="error"></div>

                <input type="text" name="years" placeholder="years" th:field="*{years}"/><br/>
                <div th:if="#{fields.hasErrors('years')}" th:errors="*{years}" class="error"></div>

                <input type="submit" value="count"/>
            </form>
        </div>
    </div>
</article>
</body>
</html>